/Users/lily/self_study/hackathon2506_kyoupro/kyoupro/components/__pycache__
/Users/lily/self_study/hackathon2506_kyoupro/kyoupro/utils/__pycache__
/Users/lily/self_study/hackathon2506_kyoupro/kyoupro/utils/users.db
.venv/